* {
  box-sizing: border-box;
  user-select: none;
}
body {
  display: flex;
  justify-content: center;
  background-color: #000;
  margin-bottom: 100px;
}
.container {
  max-width: 250px;
  border: 1px solid #fff;
}
.navbar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: relative;
}
.navbar .navbar__logo .navbar__text {
  font-size: 40px;
  color: #fff;
  font-family: "proxima-nova";
}
.navbar .btn-settings {
  width: 95px;
  position: absolute;
  right: -7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar .btn-settings .btn-24cards,
.navbar .btn-settings .btn-36cards,
.navbar .btn-settings .btn-54cards {
  width: 80px;
  height: 27px;
  margin: 5px 0;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.navbar .btn-settings .btn-24cards:hover,
.navbar .btn-settings .btn-36cards:hover,
.navbar .btn-settings .btn-54cards:hover {
  cursor: pointer;
  background-color: red;
  border-color: #000;
}
.main {
  border-top: 1px solid #fff;
  padding-top: 25px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .main__cards {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.main .main__cards .main__row {
  display: flex;
  justify-content: space-between;
}
.main .main__cards .card-item {
  width: 40px;
  height: 65px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main .main__cards .card-item:hover {
  cursor: pointer;
}
.main .main__cards .card-item .suit {
  font-size: 30px;
}
.main .main__cards .card-item .selected {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main .main__cards .card-item .selected .up {
  height: 75%;
  opacity: 0.3;
  border-radius: 5px 5px 0 0;
}
.main .main__cards .card-item .selected .down {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  opacity: 1;
  border-radius: 0 0 5px 5px;
}
.main .main__cards .card-item .border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(0, blue 50%, transparent 50%), linear-gradient(0, blue 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
  animation: marching-ants 0.8s infinite linear;
}
@keyframes marching-ants {
  0% {
    background-position: 0 0, 10px 100%, 0 10px, 100% 0;
  }
  100% {
    background-position: 10px 0, 0 100%, 0 0, 100% 10px;
  }
}
.main .main__cards .card-item .backside {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main .main__cards .card-item .backside .background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
}
.main .main__cards .card-item .backside .grid {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(blue, transparent 1px), linear-gradient(90deg, blue, transparent 1px);
  background-size: 5px 5px;
  background-position: center center;
}
.main .main__cards .card-black {
  color: black;
}
.main .main__cards .card-red {
  color: red;
}
.footer {
  display: flex;
  flex-direction: column;
}
.footer .footer__row {
  width: 100%;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}
.footer .footer__row .footer__btn {
  width: 33.3%;
  height: 40px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "proxima-nova";
  text-align: center;
  transition: 0.3s;
}
.footer .footer__row .footer__btn:hover {
  opacity: 1;
  cursor: pointer;
}
.footer .footer__row .btn-my {
  background-color: green;
  opacity: 0.7;
}
.footer .footer__row .btn-not-mine {
  background-color: red;
  opacity: 0.7;
}
.footer .footer__row .btn-discard {
  background-color: gray;
  opacity: 0.7;
}
